{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div class="flex items-center justify-center mt-8" >
    <form action="{% url 'logar' %}" method="POST" class="bg-white p-5 rounded-lg shadow-lg">
        {% csrf_token %}
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}} text-center">
                {{message}}
            </div>
        {% endfor %}
        {% endif %} 

        <label class="display: block text-left mr-4 text-gray-800 font-bold">Nome de Usuário:</label>
        <input type="text" name="nome_usuario" placeholder="Seu nome de usuário" class="block w-full border border-gray-400 rounded py-2 px-4 bg-yellow-500 focus:outline-none focus:bg-gray-200">

        <label class="display: block text-left mr-4 text-gray-800 font-bold mt-4">Senha:</label>
        <input type="password" name="senha" placeholder="Sua senha" class="block w-full border border-gray-400 rounded py-2 px-4 bg-yellow-500 focus:outline-none focus:bg-gray-200">

        <input type="submit" value="Login" class="display: block bg-gray-600 text-white font-bold rounded-full py-2 px-4 mt-8">

        <p class="text-gray-600 font-medium mt-8">Ainda não está cadastrado?</p>
        <a href="{% url 'cadastrar' %}" class="display: block bg-gray-600 text-white font-bold rounded-full py-2 px-3 mt-2">Cadastrar-se</a>
    
    </form>
</div>    



<!--Cadastro de usuário-->
{% else %}


<div class="flex items-center justify-center mt-8" >
    <form action="{% url 'logar' %}" method="POST" class="bg-white p-5 rounded-lg shadow-lg">
        {% csrf_token %}
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}} text-center">
                {{message}}
            </div>
        {% endfor %}
        {% endif %} 

        <label class="display: block text-left mr-4 text-gray-800 font-bold">Nome de usuário:</label>
        <input type="text" class="block w-full border border-gray-400 rounded py-2 px-4 bg-yellow-500 focus:outline-none focus:bg-gray-200" placeholder="Seu nome de usuário..." name="nome_usuario">
        <br>
                
        <label class="display: block text-left mr-4 text-gray-800 font-bold">Senha:</label>
        <input type="password" class="block w-full border border-gray-400 rounded py-2 px-4 bg-yellow-500 focus:outline-none focus:bg-gray-200" placeholder="Sua senha..." name="senha">
        <br>

        <label class="display: block text-left mr-4 text-gray-800 font-bold">Confirmar senha:</label>
        <input type="password" class="block w-full border border-gray-400 rounded py-2 px-4 bg-yellow-500 focus:outline-none focus:bg-gray-200" placeholder="Sua senha novamente..." name="confirmar_senha">

        <input type="submit" value="Registrar" class="display: block bg-gray-600 text-white font-bold rounded-full py-2 px-4 mt-8">

        <p class="text-gray-600 font-medium mt-8">Já possui uma conta?</p>
        <a href="{% url 'logar' %}" class="display: block bg-gray-600 text-white font-bold rounded-full py-2 px-3 mt-2">Faça login</a>

    </form>

</div>
{% endif %}
{% endblock %}
