{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="home-container">
  <div class="px-12 lg:px-18 w-1/5 ml-2 mt-6">
    <h2 class="font-bold text-lg mb-4">Tópicos</h2>
    <ul class="list-disc pl-4">
      {% for topico in topicos %}
        <li><a href="{% url 'home' %}?q={{topico.nome}}">{{ topico.nome }}</a></li>
      {% endfor %}
    </ul>
  
    {% if topicos.count > 8 %}
      <a href="{% url 'topicos' %}" class="text-blue-500 font-bold hover:underline">Ver Todos</a>
    {% endif %}
  </div>
  
  
  


  <div class="container mx-auto px-8 lg:px-18 w-4/5">
    <div class="grid grid-cols-2 gap-4 items-center">
      <h1 class="text-gray-800 font-bold text-sm">Suas Perguntas</h1>
      <div class="text-right">
        <a href="{% url 'perguntar' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 py-2 rounded">Perguntar</a>
      </div>
    </div>
    {% for pergunta in pergunta %}
      {% if pergunta.host == request.user %}
        <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
          <div class="flex items-center mb-4">
            <img src="{{ pergunta.host.avatar.url }}" alt="{{ pergunta.usuario.nome }}" class="w-12 h-12 rounded-full">
            <div class="ml-4">
              <h3 class="text-gray-800 text-lg font-bold"> <a href="{% url 'perfil_usuario' pergunta.host.id %}">@{{ pergunta.host }}</h3></a>
              <p class="text-gray-600 text-sm">{{ pergunta.criado|timesince }} ago</p>
            </div>
          </div>
          <h2 class="text-gray-800 text-xl font-bold mb-2"><a href="{% url 'pergunta' pergunta.id %}">{{ pergunta.corpo }}</h2></a>
          <div class="border-t border-gray-400 mt-2 pt-2">
          </div>
        </div>
      {% endif %}  
    {% endfor %}
  </div>
  
  
  

  <div class="px-12 lg:px-18 w-1/5 ml-16 mt-6">
    <h2 class="font-bold text-lg mb-4">Feed de Perguntas</h2>
    <ul class="list-disc pl-4">
      {% for pergunta in pergunta%}
        {% if pergunta.host != request.user %}
          <li><a href="{% url 'pergunta' pergunta.id %}">{{ pergunta.corpo }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
      <a href="{% url 'feed_perguntas' %}" class="text-blue-500 font-bold hover:underline">Ver Todas</a>
  </div>
  

</div>

{% endblock %}